<header>
  <h1>{{ title }}</h1>
</header>
<main>
  <section>
    <div class="filters-section">
      <div class="categories">
        <p>Filter:</p>
        <div *ngFor="let category of categories"
           [class.active]="isCategoryFilterActive(category)"
           (click)="setCategoryFilter(category)"
           class="btn btn-outline-primary">
        {{ category.name }}
      </div>
      </div>
      <div *ngIf="categoryFilter">
        <!-- {{ categoryFilter.name }} -->
        <button (click)="clearFilters()" class="btn btn-danger">Clear</button>
      </div>
    </div>
  </section>
  <section>
    <div *ngFor="let project of filteredProjects">
      <h3>{{ project.title }}</h3>
      <p>{{ project.excerpt }}</p>
      <p *ngIf="project.category" id="categories">Category: {{ project.category.name }}</p>
      <p *ngIf="project.tags && project.tags.length > 0" id="tags">
        Tags:
        <span *ngFor="let tag of project.tags; let last = last" >
          {{ tag.name }}{{ !last ? ', ' : '' }}
        </span>
      </p>
    </div>
  </section>
</main>
<footer>&copy; {{ author }} - {{ date }}</footer>



<!-- <header>
  <h1>{{title}}</h1>
</header>
<main>
  <section> -->
    <!-- <div *ngFor="let category of categories">{{ category.name }}</div> -->
    <!-- <div *ngFor="let project of projects">
      <h3>{{ project.title }}</h3>
      <p>{{ project.excerpt }}</p>
      <p *ngIf="project.category">Category: {{ project.category.name }}</p> -->
      <!-- Check if the project has tags before rendering -->
      <!-- <p *ngIf="project.tags && project.tags.length > 0">
        Tags:
        <span *ngFor="let tag of project.tags; let last = last">
          {{ tag.name }}{{ !last ? ', ' : '' }}
        </span>
      </p>
    </div>
  </section> -->

  <!-- <section>
    <div class="filters-section">
      <div *ngIf="categoryFilter">
        {{ categoryFilter.name }}
        <span (click)="clearFilters()">Clear</span>
      </div>
      <div *ngIf="tagFilter">
        {{ tagFilter.name }}
        <span (click)="clearFilters()">Clear</span>
      </div>
    
      <div class="categories">
        <div *ngFor="let category of categories"
             [class.active]="isCategoryFilterActive(category)"
             (click)="setCategoryFilter(category)">
          {{ category.name }}
        </div>
      </div>
    
      <div class="tags">
        <div *ngFor="let tag of tags"
             [class.active]="isTagFilterActive(tag)"
             (click)="setTagFilter(tag)">
          {{ tag.name }}
        </div>
      </div>
    </div>
  </section>  

</main>
<footer>&copy; {{ author }} - {{ date }}</footer> -->